@font-face {
    font-family: RetroRescued;
    src: url(Retro\ Rescued.ttf);
}

html {
    font-family: RetroRescued;
}

#colorr {
    height: 300px;
    width: 500px;
    border: 2px black;
    border-style: solid;
}

#log {
    text-align: center;
    line-height: 300px;
}